<!DOCTYPE html>
<html>
<head>
	<title>opacover</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	body {
		background: black;
		color: rgb(201, 201, 201);
	}
	body, pre, #info span {
		font-family: Menlo, monospace;
		font-weight: bold;
	}
	#content {
		float: left;
		margin-left: 10px;
		margin-top: 20px;
		color: rgb(80, 80, 80);
	}
	#info, #nav {
		position: fixed
		float: left;
		margin-left: 10px;
	}
	.not-covered { color: rgb(192, 0, 0) }
	.covered { color: rgb(20, 236, 155) }
	</style>
</head>
<body>
    <h1>opacover</h1>
	<div id="info">	
		<span>Total coverage: {{.Coverage}}%</span>
	</div>
	<div id="nav">
		<span>File coverage:</span>
		<select id="files">
			{{range $k, $v := .Files}}
				<option value="f{{$v.Index}}">{{$k}} ({{printf "%.1f" $v.Coverage}}%)</option>
			{{end}}
		</select>
	</div>
    <div id="content">
        {{range $k, $v := .Files}}
            <pre class="file" id="f{{$v.Index}}" style="display: none">{{$v.Body}}</pre>
        {{end}}
    </div>
</body>
<script>
	(function() {
		var files = document.getElementById('files');
		var visible;
		files.addEventListener('change', onChange, false);
		function select(part) {
			if (visible)
				visible.style.display = 'none';
			visible = document.getElementById(part);
			if (!visible)
				return;
			files.value = part;
			visible.style.display = 'block';
			location.hash = part;
		}
		function onChange() {
			select(files.value);
			window.scrollTo(0, 0);
		}
		if (location.hash != "") {
			select(location.hash.substr(1));
		}
		if (!visible) {
			select("f0");
		}
	})();
</script>
</html>